
.boligsearch {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 1080px;
        margin: 0 auto;
      }

      &__title {
        margin-top: 8rem;
        font-family: 'roboto';
        font-size: 20px;
      }

      &__search::after {
        content: "";
        display: block;
        width: 20%;
        height: 4px;
        background-color: #162a41;
        margin-top: 8px;
      }
}
